#header{
	
	padding: 30px 0 50px 0;
	text-align: center;
	
	.main-heading{
		font-size: 36px;
		color: $primary-color;
	}
}

@include phone{

	#header{
		padding: 20px 0 35px 0;
		.main-heading{
			font-size: 34px;
			line-height: 33px;
		}
	}
}
