#main{
	margin: 0 auto; 
	width: 60%;
	padding: 30px 0;
 
	.gamefield{
		position: relative;

		&__message{
			color: red;
			font-size: 20px;
			text-align: center;
			margin-bottom: 15px;
			position: absolute;
			width: 100%;
			top:-30px;
		}

		&__table{
			@extend %clearfix;
			height: 270px;
			@include rounded-corners(90px);
			background: $background-main-wrapper-color;

			&__dealer, &__user{
				text-align: center;
				padding-top: 55px;
				float: left;
				width: 50%;

				h2{
					font-size: 17px;
					font-weight: bold;
					padding-bottom: 5px;
				}

				.total{
					padding: 20px;
					font-size: 16px;
					color: $very-dark-grey-color;
				}
			}
		}

		&__controls{
			padding-top: 15px;
			text-align: center;


			&__btn{
				@extend .btn;
			}

		}
	}
}

@include deskop_tablets{

	#main{
		width: 85%;

	}
}

@include phone{

	#main{
		width: 90%;

		.gamefield{

			&__message{
				font-size: 18px;
			}

			&__controls{

				#next-hand{
					margin-top: 15px;
				}
			}

			&__table{

				&__dealer, &__user{
					
					h2{
						font-size: 17px;
						font-weight: bold;
						padding-bottom: 5px;
					}
					.card-result-list{
						font-size: 14px;
					}

					.total{
						padding: 20px;
						font-size: 15px;
					}
				}
			}
		}
	}
}



